body{
    background: url(./asset/background.png);
    text-align: center;
    color: white;
    background-size: cover;
}

canvas{
    background-color: #DABA91;
}

.button{
    margin: 25px;
}